 *,
::before,
::after {
  margin: 0 ;
  padding: 0;
  box-sizing: border-box  ; 
}


:root {
  --accent-white: #fff;
  --accent-black: #000;
  --second-text-color: #737373;
  --text-color: #252B42; 
  --primary-color: #23A6F0;
  --secondary-color-1:#23856D;
  --success-text-color:#2DC071;
  --danger-color:#E74040;
 --disabled-element-color: #8EC2F2;
 --light-gray-1:#FAFAFA;
 --muted-text-color:#BDBDBD; 
 --border:#E8E8E8;
  --hover-color: #23a5f036; 
  --active-color: #C0C0C0;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
 
a {
  text-decoration: none !important;
   color: inherit; 
   cursor: pointer;
}

button{
  border: none
}


@import url(../css/header.css);  
@import url(../css/page.css); 
@import url(../css/productpage.css); 
@import url(../css/footer.css); 
@import url(../css/cart.css); 
 
